*{
  font-family: "Poppins", sans-serif;  
  list-style: none ;
  text-decoration:  none;
}

body {
  background: radial-gradient(circle at 50% 50%, #192233 20%, #000);
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
}
.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("photo_2024-04-17_19-05-15.jpg") center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url("photo_2024-04-17_19-05-15.jpg") left center no-repeat;
  background-size: 600px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url("photo_2024-04-17_22-05-50.jpg") center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url("photo_2024-04-17_22-05-50.jpg") left center no-repeat;
  background-size: 600px;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}
.card2 {
  background: url("photo_2024-04-17_22-07-11.jpg") center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url("photo_2024-04-17_22-07-11.jpg") left center no-repeat;
  background-size: 600px;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
header{
  position: fixed;
  right: 0 ;
  top: 0 ;
  z-index: 1000 ;
  width:  100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px ;
  background: rgba(0, 0, 0, 0.5);

}
.navlist{
  display: flex;
  
}
.navlist a{
  color: white;
  margin-left: 100px ;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}
.navlist a:hover{
border-bottom: 2px solid white;
}
#menu-icon{
  color: white;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.logo {
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  filter: drop-shadow(4px 4px 3px yellow);
  
}
.logo video{
  width: 204px;
  height: 99px;;
  border-radius: 75%;
  }
  @media (max-width :1189px){
    .navlist a {
      display: block;
      margin: 10px 0;
      margin-left: 50px;
    }
  }
  @media (max-width :999px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right:-100%;
        width: 300px;
        height: 40vh;
        background: black;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;

    }
    header{
      justify-content: space-between;
    }
    
    .navlist a {
      display: block;
      margin: 10px 0;
      margin-left: 0;
    }
    .navlist.open{
        right: 0;
    }
    .container{
      flex-direction: column;
      height: 110vh;
  width: 100vw;
      gap: 1rem;
      margin-top: 110px;
      
    }

}